extends layout

block append head
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/chat.js")

block content
  section#chatroom
    div#messages
    input#message(type="text", placeholder="Enter your message here")
    input#send(type="button", value="Send")
